{% extends "base.html" %}

{% block title %}All records{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">All artists</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <!--
            <button type="button" class="btn btn-sm btn-outline-secondary">Create</button>
            -->
        </div>
    </div>
</div>

{% if artists %}
<ul class="list-group">
{% for artist in artists %}
    <li class="list-group-item">
        <!--<a href="">-->{{ artist }}<!--</a>-->
    </li>
{% endfor %}
</ul>
{% else %}
<i>No artists</i>
{% endif %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">All records</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <!--
            <button type="button" class="btn btn-sm btn-outline-secondary">Create</button>
            -->
        </div>
    </div>
</div>

{% if records %}
<ul class="list-group">
{% for record in records %}
    <li class="list-group-item">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
            <div>
                <!--<a href="/artists/{{ record.artist.id }}">-->{{ record.artist }}<!--</a>--> - 
                <!--<a href="/record/{{ record.id }}">-->{{ record }}<!--</a>-->
            </div>
            <a href="{{ record.id }}/possess" type="button" class="btn btn-sm btn-outline-secondary">Add to my shelf</a>
        </div>
    </li>
{% endfor %}
</ul>
{% else %}
<i>No records</i>
{% endif %}

{% endblock %}